<!DOCTYPE html>
<html lang="en">
<body>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Información Pokeneas</h1>
            <p>ID Pokenea: <%= pokeneaID[0] %></p>
            <p>Nombre Pokenea: <%= pokeneaID[1] %></p>
            <p>Estatura Pokenea: <%= pokeneaID[2] %></p>
            <p>Habilidad Pokenea: <%= pokeneaID[3] %></p>
            <br><br><br><br><h3>Nombre del host</h2>
              <p><%= hostname %></p>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>
</html>